/* === DESKTOP FIRST === */

@media (max-width : 1680px) {

	/* About */
	.about-content__item:not(:first-child) {
		padding: 40px 25px 30px 80px;
		align-items: center;
	}

	/* Work */
	.work__wrapper {
		column-gap: 100px;
	}
}

/* xl <= Extra extra large (xxl) */
@media (max-width : 1440px) {

	/* About */
	.about {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.about-content__item:not(:first-child) {
		padding: 20px 20px 20px 80px;
		align-items: center;
	}
	.about-content__item-title {
		font-size: 20px;
	}

	/* Work */

	.work-img {
		flex: 1 1 40%;
	}
	.work-img img {
		max-width: 570px;
	}

	/* Footer */

	.footer__text {
		max-width: 280px;
		font-size: 14px;
	}

	.footer__nav {
		flex-basis: 25%;
	}
}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {
	/* Header */
	.burger {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.nav__list {
		display: block;
		padding-top: 170px;
		padding-left: 50px;
	}

	.nav__item:not(:last-child) {
		margin-bottom: 60px;
	}

	.nav__link {
		font-size: 22px;
	}

	.header__logo {
		width: 190px;
	}

	.burger {
		display: block;
	}

	/* Hero*/

	.hero {
		height: 668px;
	}

	.hero__container {
		padding-top: 40px;
	}

	.hero-content__heading {
		font-size: 60px;
	}

	.hero-content__text {
		font-size: 20px;
	}

	.swiper {
		border-radius: 32px;
	}

	/* About */

	.grid {
		grid-template-rows: 640px 295px 295px;
	}

	.about-content__item:not(:first-child) {
		padding: 65px 155px 65px 148px;
	}

	.about-content__item:first-child {
		grid-column: 12 span;
		grid-row: 1 span;
	}

	.about-content__item {
		grid-column: 12 span;
	}

	/* Footer */

	.footer__content {
		justify-content: flex-end;
	}

	.footer__text {
		display: none;
	}
}

/* md <= Large (lg) */
@media (max-width : 992px) {

}

/* sm <= Medium (md) */
@media (max-width : 768px) {

}

/* xs <= Small (sm) */
@media (max-width : 576px) {

}


/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width : 0) {

}

/* Small (sm) */
@media (min-width : 576px) {

}

/* Medium (md) */
@media (min-width : 768px) {

}

/* Large (lg) */
@media (min-width : 992px) {

}

/* Extra large (xl) */
@media (min-width : 1200px) {
}

/* Extra extra large (xxl) */
@media (min-width : 1400px) {
}
